.contact-section {
  display: flex;
  align-items: center;
  
}
/* .inputlabels {
  font-size: 16px;
  margin-bottom: 6px;
} */

.contact-container{
  width: 100%;
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}


.contact-top {
  display: flex;
  gap: 40px;
  padding-block: 56px;

}

.contact-image img {
  border-radius: 8px;
  width: 648px;
  height: auto;
}

.contact-form {
  width: 648px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}
.contact-form  label {
  font-size: 16px;
  margin-bottom: 6px;
}

.contact-form textarea {
  padding: 12px 14px;
  border: none;
  background-color: #F5F5F5;
  border-radius:0;
  font-size: 16px;
  width: 100%;
  outline: none;
}
.contact-form input {
  padding: 16px 16px;
  border: none;
  background-color: #F5F5F5;
  border-radius:0;
  font-size: 16px;
  width: 100%;
  outline: none;
}
.form-title {
  color: #0C7A3E;
  font-weight: 600;
  margin-bottom: 10px;
}

.form-heading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.form-row {
  display: flex;
  gap: 20px;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-size: 14px;
  margin-bottom: 6px;
}

input,
textarea {
  padding: 12px 14px;
  border: none;
  background-color: #F5F5F5;
  border-radius:0;
  font-size: 14px;
  width: 100%;
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 120px;
  line-height: 1.5;
  font-family: inherit;
}

.contact-btn {
  margin-top: 10px;
  width: 100%;
}

.bottom-info {
   display: grid;
   grid-template-columns: repeat(3,1fr );
   gap: 16px;
   width: fill;

}

.info-card {
  flex: 1;
  padding: 24px;
  border-radius: 0;
  background-color: #fff;

}

.info-card .icon {
  background-color: #F6F6F6;
  padding: 16px;
  display: inline-block;
  margin-bottom: 12px;
  border-radius: 0;
}

.info-card h4 {
  margin-bottom: 6px;
  font-weight: 600;
}

.info-card p {
  color: #444;
  margin-bottom: 6px;
}

.info-card strong {
  color: #0C7A3E;
}


@media (max-width: 1024px) {
  .contact-top {
    flex-direction: column-reverse;
    gap: 24px;
  }

  .form-row {
    gap: 16px;
  }

  .bottom-info {
   display: grid;
   grid-template-columns: repeat(2,1fr );
   gap: 16px;
   width: fill;
}
}

@media (max-width: 390px) {
  .contact-section {
    padding: 20px;
    width: 100vw;
  }

  .form-heading {
    font-size: 18px;
    width: 100vw;
  }

  .form-row {
    flex-direction: column;
    gap: 16px;
  }

  input,
  textarea {
    font-size: 14px;
    padding: 10px 12px;
  }

  .contact-btn {
    padding: 12px 0;
  }

   .bottom-info {
   display: grid;
   grid-template-columns: 1fr ;
   gap: 16px;
   width: 340px;
}
}